@model DoAnCuoiKi.Data.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.otherInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.otherInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.userId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.orderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
