@model DoAnCuoiKi.Data.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row product-detail">
    <div >
        <a class="btn btn-info text-light" asp-action="Index" asp-controller="Products" asp-area="Admin"><i class="fa-solid fa-backward"></i> Quay lại</a>
    </div>
    <div class="col-6" style="min-height:400px;">
        <img src="~/ProductImage/@Model.image" width="100%" height="100%" alt="Hình ảnh" style="border-radius:10px;" />
    </div>

    <div class="col-6 ">
        <h4 class="product-detail-name">@Model.name</h4>
        <hr />
        <h6><b class="product-detail-text-title">Giá bán: </b>@Model.price VNĐ</h6>
        <h6><b class="product-detail-text-title">Số lượng: </b>@Model.amount</h6>
        <h6><b class="product-detail-text-title">Thương hiệu: </b>@ViewBag.brand </h6>
        <h6><b class="product-detail-text-title">Danh mục: </b>@ViewBag.categoriy </h6>
        <h6 class="product-detail-text-maxheight"><b class="product-detail-text-title">Mô tả sản phẩm: </b>@Model.description</h6>
        
    </div>

</div>
