@model DoAnCuoiKi.Areas.Admin.Models.ProductEditDataModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center text-light">Cập nhật sản phẩm</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="margin: 0  auto;">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">Mã sản phẩm</label>
                <input name="id" class="form-control" readonly value="@Model.product.productId"/>
            </div>
            <div class="form-group">
                <label class="control-label">Tên sản phẩm</label>
                <input name="name" class="form-control" required value="@Model.product.name"/>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <input name="description" class="form-control" required value="@Model.product.description"/>
            </div>
            <div class="form-group">
                <label class="control-label">Hình ảnh</label>
                <input name="image" type="file" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Số lượng</label>
                <input name="amount" type="number" class="form-control" required value="@Model.product.amount"/>
            </div>
            <div class="form-group">
                <label class="control-label">Giá</label>
                <input name="price" type="number" class="form-control" required value="@Model.product.price"/>
            </div>
            <div class="form-group">
                <label class="control-label">Thương hiệu</label>
                <select name="brandId" class="form-control">
                    @foreach (var item in Model.brands)
                    {
                        <option value="@item.brandId">@item.name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Danh mục</label>
                <select name="categoryId" class="form-control">
                    @foreach (var item in Model.categories)
                    {
                        <option value="@item.categoryId">@item.name</option>
                    }
                </select>
            </div>

            <div class="form-group text-center d-flex justify-content-evenly mt-3">
                <div class="btn btn-warning">
                    <a style="text-decoration:none; color:white;" asp-action="Index">Quay lại</a>
                </div>
                <input type="submit" value="Xác nhận" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(() => {
            $("[name='brandId']").val("@Model.product.brandId");
            $("[name='categoryId']").val("@Model.product.categoryId");
        })
    </script>
}