@model IEnumerable<DoAnCuoiKi.Data.Cart>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cart-container" >

    <div class="cart-container-left">
            @if(Model != null){
                @foreach (var item in Model)
                {
                    <div class="cart-item">
                        <div class="cart-item-img">
                            <img src="~/Images/imageTest.png" alt="photo" />
                        </div>

                        <div class="cart-item-content">
                            <h3 class="cart-item-content-name">@item.name</h3>
                            <h3 class="cart-item-content-price">@item.price đ</h3>
                        </div>
                        <div class="cart-item-amount">
                            @*<h3 class="cart-item-amount-text">Số lượng</h3>*@
                            <div class="cart-item-amout-action">
                                <div class=" cart-item-amount-action-btn" data-change="-" data-id="@item.cartId">-</div>
                                <h3 class="cart-item-amount-action-count">@item.amount</h3>
                                <div class=" cart-item-amount-action-btn" data-change="+" data-id="@item.cartId">+</div>
                            </div>
                        </div>
                        <div data-id="@item.cartId" class="btn-delete-cart btn btn-danger" style="height:24px; display:flex; align-items:center;">Xóa</div>
                    </div>
                }
            }
    </div>

    <div class=" cart-container-right">
        <form asp-action="HanleSubmitCart" asp-controller="Cart" method="post">
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label text-light">Tên người nhận*</label>
                <div class="col-sm-8">
                    <input required type="text" name="customerName" 
                        class="form-control-plaintext text-light" 
                        style="border:1px solid white; border-radius:3px; outline:none; padding-left: 10px;padding-right: 10px;" />
                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label text-light">Địa chỉ*</label>
                <div class="col-sm-8">
                    <input required type="text" name="customerAddress"
                        class="form-control-plaintext text-light" 
                        style="border:1px solid white; border-radius:3px; outline:none; padding-left: 10px;padding-right: 10px;" />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label text-light">Số điện thoại*</label>
                <div class="col-sm-8">
                    <input required type="text" name="customerPhone"
                        class="form-control-plaintext text-light" 
                        style="border:1px solid white; border-radius:3px; outline:none; padding-left: 10px;padding-right: 10px;" />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label text-light">Email</label>
                <div class="col-sm-8">
                    <input type="text" name="customerEmail"
                        class="form-control-plaintext text-light" 
                        style="border:1px solid white; border-radius:3px; outline:none; padding-left: 10px;padding-right: 10px;" />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label text-light">Thông tin thêm</label>
                <div class="col-sm-8">
                    <input type="text" name="otherInformation" 
                        class="form-control-plaintext text-light" 
                        style="border:1px solid white; border-radius:3px; outline:none; padding-left: 10px;padding-right: 10px;" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label text-light">Tổng sản phẩm</label>
                <div class="col-sm-8" style="display:flex">
                    <input readonly type="text"  value="@ViewBag.tongSanPham"
                        class="form-control-plaintext text-light" 
                        style="border:none; outline:none; text-align:right; padding-right:10px;" /> <span style="color:white; display:flex;align-items:center;">VNĐ</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label text-light">Phí vận chuyển</label>
                <div class="col-sm-8" style="display:flex">
                    <input readonly type="text" value="@ViewBag.phiVanChuyen"
                        class="form-control-plaintext text-light" 
                        style="border:none; outline:none; text-align:right; padding-right:10px;" /> <span style="color:white; display:flex;align-items:center;">VNĐ</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label text-light">Tổng tiền</label>
                <div class="col-sm-8" style="display:flex">
                    <input readonly type="text" name="totalPrice" value="@ViewBag.tongTien"
                        class="form-control-plaintext text-light" 
                        style="border:none; outline:none; text-align:right; padding-right:10px;" /> <span style="color:white; display:flex;align-items:center;">VNĐ</span>
                </div>
            </div>
            @if(ViewBag.tongTien > 0){
                <button type="submit"  class="btn btn-info w-100">Xác nhận đặt hàng &nbsp; <i class="fa-solid fa-arrow-right"></i></button>
            }

        </form>
    </div>


</div>





@section Scripts{
    <script>
        $(document).ready(()=>{


            //onClick change count
            (() => {
                var btnChanges = document.querySelectorAll('.cart-item-amount-action-btn');
                btnChanges.forEach(item => {
                    item.addEventListener('click', onClickHanleChangeCount);
                });
            })();

            function onClickHanleChangeCount(){
                var idCart = this.getAttribute("data-id");
                var action = this.getAttribute("data-change");

                $.ajax({
                    url: "/Cart/HanleChangeCount",
                    type: "post",
                    data: {
                        action: action,
                        idCart: idCart
                    },
                    success: function (data) {
                        window.location.reload()
                    }
                });
            }
            //end onClick change count
            //onClick DELETE CART
            (() => {
                var btnDeletes = document.querySelectorAll('.btn-delete-cart');
                btnDeletes.forEach(item => {
                    item.addEventListener('click', onClickHanleDeleteCart);
                });
            })();

            function onClickHanleDeleteCart(){
                var idCart = this.getAttribute("data-id");

                $.ajax({
                    url: "/Cart/HanleDeleteCart",
                    type: "post",
                    data: {
                        idCart: idCart
                    },
                    success: function (data) {
                        window.location.reload()
                    }
                });
            }
            //end onClick DELETE CART


        })
    </script>
}

